{% extends 'twig/layouts/main.twig' %}

{% block main %}
    <div id="help" class="wrapper">
        <div class="bks-title-box">
            <h1>{{ page.title }}</h1>
        </div>
        {% if page.content is not empty %}
            <div id="help--info">
                <div id="help--info__wrapper">
                    <p><span class="bubble-icon"></span>{{ page.rawContent }}</p>
                </div>
            </div>
        {% endif %}
        <div id="help--faqs">
            <dl>
                {% for faq in faqs %}
                    <dt>{{ faq.title }}</dt>
                    <dd>{{ faq.content |raw }}</dd>
                {% endfor %}
            </dl>
        </div>
    </div>
{% endblock %}